* {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
html {
  margin: 0;
  padding: 0;
}
body {
  padding: 0;
  margin: 3em auto;
  width: 90vw;
}
body.iframe {
  padding: 0;
  margin: 0;
  width: 100%;
}

h1 {
  margin: 1em 0 0 0;
  border-bottom: 1px solid #888;
}

h2 {
  margin: 0 0 1em;
  font-style: italic;
  font-weight: normal;
}

.piano {
  display: flex;
  justify-content: center;
  vertical-align: top;
  font-size: calc(80vw / 50);
  margin: auto;
  padding: 1em;
  background: gray;
}

.key {
  background-color: white;
  border: 0;
  border-bottom: 0.4em solid #888;
  margin: 0 1px 0 0;
  padding: 0;
  height: 8em;
  width: 2em;
  flex-grow: 0;
  flex-shrink: 0;
  box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.5);
  font-size: inherit;
  border-radius: 0.1em;
}
.key:not(:active, :focus) {
  transition-property: all;
  transition-delay: 0.1s;
}
.key:active,
.key:focus,
.key--active {
  background-color: #cde;
  outline: none;
  height: calc(8.2em);
  margin-bottom: -0.2em;
}

.key--ebony {
  background-color: #111;
  margin-top: 0;
  margin-left: -0.6em;
  margin-right: -0.6em;
  width: 1.2em;
  height: 5em;
  z-index: 1;
  border-width: 0 0.1em 0.8em 0.1em;
  border-color: #000 #444 #666 #444;
  border-style: solid;
  outline: 0.1em solid #111;
  box-shadow: none;
}
.key--ebony:active,
.key--ebony:focus {
  background-color: #234;
  border-bottom-width: 0.6em;
  height: 5em;
  outline: 0.1em solid black;
}

.key--csharp {
  margin-left: -0.75em;
  margin-right: -0.45em;
}

.key--dsharp {
  margin-left: -0.45em;
  margin-right: -0.75em;
}

.key--fsharp {
  margin-left: -0.9em;
  margin-right: -0.3em;
}

.key--asharp {
  margin-left: -0.3em;
  margin-right: -0.9em;
}

.timeline g {
  animation: slide 10s linear forwards;
}

@keyframes slide {
  to {
    transform: translate(-10000px, 0);
  }
}

.back-link {
  position: absolute;
  top: 1em;
}

.back-link::before {
  content: "« ";
}

.rickord {
  position: absolute;
  bottom: 0;
  right: 0;
  border: 0;
  padding: 0;
  opacity: 0.1;
  background: transparent;
}

.rickord:hover {
  opacity: 1;
}
